<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <!--
  Enables java.util.logging statements to be bridge to SLF4J, but mitigating the
  60x performance penalty caused by disabled logging statements.
  -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="STDOUT" class="ch.qos.logback.domain.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>time</fieldName>
        </timestamp>
        <threadName>
          <fieldName>threadName</fieldName>
        </threadName>
        <logLevel/>
        <tags/>
        <pattern><pattern>{"serviceName": "auth"}</pattern></pattern>
        <message>
          <fieldName>msg</fieldName>
        </message>
        <loggerName>
          <fieldName>loggerName</fieldName>
        </loggerName>
        <mdc/>
        <logstashMarkers/>
        <stackTrace>
          <fieldName>stackTrace</fieldName>
          <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
              <maxDepthPerThrowable>100</maxDepthPerThrowable>
              <maxLength>8192</maxLength>
              <shortenedClassNameLength>20</shortenedClassNameLength>
              <rootCauseFirst>true</rootCauseFirst>
          </throwableConverter>
        </stackTrace>
      </providers>

      <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
      -
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <root level="TRACE">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
